*::before,
*:after {
    box-sizing: border-box;
}

:root {
    --ff-body: "PT Sans",
        sans-serif;
    --ff-heading: "Bebas Neue",
        cursive;
    --ff-accent: "Yellowtail",
        cursive;
    --fw-normal: 400;
    --fw-bold: 700;

    --clr-primary-100: #9dace0;
    --clr-primary-200: #6d7db4;
    --clr-primary-300: #4f5c8d;
    --clr-primary-400: #2f3b64;
    --clr-primary-500: #131b3a;

    --fs-base: 1rem;
    --clr-accent: #85ff9e;

    --clr-tertiary: #f148fb;
    --clr-tertiary-500: #662269;

    --clr-light: #fff;
    --clr-dark: #000;

    --clr-gradient: radial-gradient(var(--clr-tertiary-500),
            var(--clr-primary-400),
            var(--clr-primary-500));

}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote {
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
    font-size: var(--fs-base);
}

h1,
h2,
h3 {
    font-family: var(--ff-heading);
}

h1+h2 {
    font-size: clamp(2rem, 20vw, 2.5rem);
    line-height: 1;
}

header {
    text-align: center;
}

a {
    color: var(--crl-primary-400);
    font-weight: var(--fw-bold);
    text-decoration: none;
    /* text-decoration-color: var(--crl-primary-200);
    text-decoration-thickness: 0.15em;
    text-decoration-skip: none;
    transition: all 250ms; */
}

a:hover,
a:focus {
    color: var(--crl-light);
    /* text-decoration-color: var(--crl-primary-500);
    text-decoration-thickness: 1.5em;
    text-underline-offset: -1em;
     text-decoration-skip-ink: none; */
}

ul[class],
ol[class] {
    list-style: none;
}

ul[class],
ol[class] {
    padding: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 80ch;
    margin: 0 auto;
}

section>*+*,
article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion:reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* nav {
    background-color: var(--crl-primary-500);
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--crl-light);
} */