
$main-color:#000;
$secondary-color:#fff;
$greyish-color:#ccc;
$shaddow:#333;


$hidden:hidden;

$flex:flex;
$grid:grid;

$border-no:none;

$relative:relative;
$absolute:absolute;

$text-trans:uppercase;

$text-align:center;

$justify-content:center ;
$align-items:center;

$flex-direction:column;

$font:.8rem;

